REACT_APP_GOOGLE_CLIENT_ID=your_google_client_id_here
OPENAI_API_KEY=your_openai_api_key_here
MONGODB_URL=your_mongodb_url_here

# Stripe API Keys
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here 